name: Deploy til prod-gcp

on:
  release:
    types:
      - published

jobs:
  deploy:
    name: Deploy til prod-gcp
    permissions:
      contents: read
      id-token: write
    uses: navikt/hm-workflows/.github/workflows/deploy-prod.yaml@main
    with:
      manifest: .nais/nais-deploy.yaml
      vars: .nais/prod/config.json
    secrets: inherit

  unleash:
    name: Deploy Unleash secrets
    permissions:
      packages: write
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v6
      - name: Deploy Unleash secrets
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/unleash-apitoken-prod.yaml
