name: Bygg, deploy til dev-gcp og lag release

on:
  push:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "LICENCE"
      - "CODEOWNERS"
    branches:
      - main
      - altinn3

jobs:
  build:
    name: Bygg, deploy til dev-gcp og lag release
    permissions:
      packages: write
      contents: write
      id-token: write
    uses: navikt/hm-workflows/.github/workflows/deploy-dev.yaml@main
    with:
      manifest: .nais/nais-deploy.yaml
      vars: .nais/dev/config.json
    secrets: inherit

  unleash:
    name: Deploy Unleash secrets
    permissions:
      packages: write
      contents: write
      id-token: write
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut koden
        uses: actions/checkout@v4
      - name: Deploy Unleash secrets
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/unleash-apitoken-dev.yaml
