name: NAIS Alerts, apply changes DEV

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '../../.nais/alerts/**'
      - '.github/workflows/gcp-alerts.dev.yaml'

jobs:
  deploy-to-dev:
    name: Deploy to ${{ matrix.cluster }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster: [ dev-gcp ]
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: ${{ matrix.cluster }}
          RESOURCE: .nais/alerts/alerts.yaml
